{% extends 'base.html.twig' %}

{% block title %}
    Fiszki
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            {% include 'form/login.html.twig' %}
        </div>
    </div>
{% endblock %}
