$baseBackground: #ffffff;
$buttonPrimaryBackgroundColor: #2aaaea;
$buttonPrimaryBackgroundHighlightColor: #50bdf3;
$linkColor: #2aaaea;
$buttonPrimaryColor: #ffffff;
$textColor: #1b1a1a;
$trueColor: #6edc6e;
$falseColor: #e17171;
$trueHighlightColor: #89ea89;
$falseHighlightColor: #ec8c8c;