body {
    background-color: $baseBackground;
    color: $textColor;
}

a {
    color: $linkColor;
    text-decoration: none;
}

a:hover {
    color: $textColor;
}

.section-separator {
    margin-top: 10px;
    margin-bottom: 10px;
}

.MuiPaper-root {
    width: 30% !important;
}